<div class="" data-spy="affix" data-offset-top="60">
    <div class="page-header">
          <h1 class="text-center">Tableau de bord</h1>
        </div>
<a class="btn btn-danger btn-block" href="{{ url_for('commande.infosClient') }}">Creer une commande</a><br/>
<!--<ul class="nav nav-pills nav-stacked">-->
        <!--<li class="active"><a href="#">Menu 1</a></li>-->
        <!--<li><a href="#">Menu 1</a></li>-->
        <!--<li><a href="#">Menu 1</a></li>-->
        <!--<li><a href="#">Menu 1</a></li>-->
        <!--<li><a href="#">Menu 1</a></li>-->

<!--</ul>-->
</div>